{% extends 'base.html' %}

{% block content %}
<h3>Twój koszyk</h3>

<table border="3px">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Ilość
            </th>
            <th>
                Akcje
            </th>
        </tr>            
    </thead>
    <tbody>
        {% for product in basket_product_list %}
            <tr>
                <td>
                    <a href="/product/{{product.product_id}}/">{{product}}</a>
                </td>
                <td>
                    <a href="/basket/?action=minus&basket_id={{product.id}}">-</a>
                    {{product.quantity}}
                    <a href="/basket/?action=plus&basket_id={{product.id}}">+</a>
                </td>
                <td>
                    <a href="/basket/{{product.id}}/delete/"> Usuń </a>
                    
                </td>
                <td>
                    <a href="/basket/{{product.id}}/update/"> Zmień ilość </a>
                </td>                
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
{% if basket_product_list %}
    <a href="/basket/delete-all/"> Usuń wszystko </a>
{% endif %}
{% endblock %}