{% extends 'base.html' %}

{% block content %}
<a href="/category/create/"> Dodaj nową kategorię</a>
<br>
<br>
<table border="3px">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Akcje
            </th>
        </tr>            
    </thead>
    <tbody>
        {% for category in category_list %}

            <tr>
                <td>
                    <a href="/category/{{category.id}}/">{{category}}</a>
                </td>
                <td>
                    <a href="/category/{{category.id}}/update/">Edytuj </a>
                    <a href="/category/{{category.id}}/delete/">Usuń </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}