{% extends 'base.html' %}

{% block content %}

{% if user.is_superuser %}
    <a href="/category/create/"> Dodaj nową kategorię</a>
    <br>
    <br>
{% endif %}
<table border="3px">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            {% if user.is_superuser %}
                <th>
                    Akcje
                </th>            
            {% endif %}
        </tr>            
    </thead>
    <tbody>
        {% for category in category_list %}
            <tr>                
                {% if user.is_superuser %}
                    <td>
                        <a href="/category/{{category.id}}/">{{category}}</a>
                    </td>
                    <td>
                        <a href="/category/{{category.id}}/update/">Edytuj </a>
                        <a href="/category/{{category.id}}/delete/">Usuń </a>
                    </td>
                {% else %}
                    <td>
                        <a href="/?category={{category.id}}">{{category}}</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}