{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>{{product}}</h2>
    <img src="{% static 'assets/img/'|add:product.name|add:'.jpg' %}">
    <div>
        <div>
            Cena: {{product.price|floatformat:2}} zł
        </div>
        <div>
            Kategoria: {{product.category}}
        </div>
        <div>
            Opis: {{product.description}}
        </div>
        <div>
            {% if not product.availability or not product.quantity %}
                Brak towaru.
            {% else %}
                Ilość w magazynie: {{product.quantity}}
            {% endif %}
        </div>
        {% if user.is_superuser %}
            <a href="/product/{{product.id}}/update/">Edytuj </a>
            <a href="/product/{{product.id}}/delete/">Usuń </a>
        {% endif %}
    </div>
    {% if user.is_anonymous %}
        <br>
        <div>
            <a href="/accounts/login/"> Zaloguj się </a> żeby dodać do koszyka
        </div>
        <div>
            Nie masz konta? <a href="/user/create/"> Zarejestruj się </a>
        </div>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Dodaj do koszyka">
        </form>
    {% endif %}    
{% endblock %}