{% extends "base.html" %}

{% block content %}
    <h2>{{product}}</h2>

    <div>
        <div>
            Cena: {{product.price}} zł
        </div>
        <div>
            Kategoria: {{product.category}}
        </div>
        <div>
            Opis: {{product.description}}
        </div>
        <div>
            {% if not product.availability or not product.quantity %}
                Brak towaru.
            {% else %}
                Ilość w magazynie: {{product.quantity}}
            {% endif %}
        </div>
        {% if user.is_superuser %}
            <a href="/product/{{product.id}}/update/">Edytuj </a>
            <a href="/product/{{product.id}}/delete/">Usuń </a>
        {% endif %}
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
{% endblock %}