{% extends 'base.html' %}
{% load static %}
{% block content %}
<body onload="slides()">
<h3>Nasze nowości</h3>

<div id="slider"></div>
<span onclick="set_slide(0)" style="cursor: pointer;">[1]</span>
<span onclick="set_slide(1)" style="cursor: pointer;">[2]</span>
<span onclick="set_slide(2)" style="cursor: pointer;">[3]</span>
<span onclick="set_slide(3)" style="cursor: pointer;">[4]</span>
<span onclick="set_slide(4)" style="cursor: pointer;">[5]</span>
{% if user.is_superuser %}
    <a href="/product/create/"> Dodaj nowy produkt</a>
{% endif %}
<div class="row">
    <div class="col-1">
        Filtry:
    </div>
    <div class="col">
        <form method="get">
            {{form}}
            <button type="submit">Szukaj</button>
        </form>
    </div>
</div>


{% if context.one_category %}
    <h3>{{context.one_category}}</h3>
    <div class="row">
        {% for product in context.product_list %}
            <div class="col">
                <div>
                    <a href="/product/{{product.id}}/"><img src="{% static 'assets/img/'|add:product.name|add:'.jpg' %}"></a>                    
                </div>
                <a href="/product/{{product.id}}/">{{product}}</a>
                {{product.price|floatformat:2}}zł
                {% if user.is_superuser %}                            
                    <a href="/product/{{product.id}}/update/">Edytuj </a>
                    <a href="/product/{{product.id}}/delete/">Usuń </a>                            
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    {% for category in context.category_list %}
        <h3>{{category}}</h3>
        <div class="row">
        {% for product in context.product_list %}
                {% if product.category == category %}
                    <div class="col">
                        <div>
                            <a href="/product/{{product.id}}/"><img src="{% static 'assets/img/'|add:product.name|add:'.jpg' %}"></a>
                        </div>
                        <a href="/product/{{product.id}}/">{{product}}</a>
                        {{product.price|floatformat:2}}zł
                        {% if user.is_superuser %}                            
                            <a href="/product/{{product.id}}/update/">Edytuj </a>
                            <a href="/product/{{product.id}}/delete/">Usuń </a>                            
                        {% endif %}
                    </div>
                {% endif %}  
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}
</body>
{% endblock %}