{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_superuser %}
    <a href="/product/create/"> Dodaj nowy produkt</a>
{% endif %}

<form method="get">
    {{form.as_p}}
    <button type="submit">Szukaj</button>
</form>

{% if context.one_category %}
    <h3>{{context.one_category}}</h3>
    <div class="row">
        {% for product in context.product_list %}
            <div class="col">
                <div>
                    <a href="/product/{{product.id}}/"><img src="{% static 'assets/img/Kawa-BRAZYLIA.jpg' %}"></a>
                </div>
                <a href="/product/{{product.id}}/">{{product}}</a>
                {{product.price}}zł
                {% if user.is_superuser %}                            
                    <a href="/product/{{product.id}}/update/">Edytuj </a>
                    <a href="/product/{{product.id}}/delete/">Usuń </a>                            
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    {% for category in context.category_list %}
        <h3>{{category}}</h3>
        <div class="row">
        {% for product in context.product_list %}
                {% if product.category == category %}
                    <div class="col">
                        <div>
                            <a href="/product/{{product.id}}/"><img src="{% static 'assets/img/Kawa-BRAZYLIA.jpg' %}"></a>
                        </div>
                        <a href="/product/{{product.id}}/">{{product}}</a>
                        {{product.price}}zł
                        {% if user.is_superuser %}                            
                            <a href="/product/{{product.id}}/update/">Edytuj </a>
                            <a href="/product/{{product.id}}/delete/">Usuń </a>                            
                        {% endif %}
                    </div>
                {% endif %}  
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}

{% endblock %}