header {
  background-color: rgb(234, 250, 13);
  color: #ccc;
  padding: 20px;
}

nav {
  background-color: #f2f2f2;
  border: 1px solid white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #ddd;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.messages {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}