<!DOCTYPE html>
<html>
  <head>
    <title>Kawoszownia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <h1>Sklep z Kawą i Herbatą</h1>
    <div>
      <a href="/"> Strona główna </a>
    </div>
    <div>      
      <a href="/category/"> Kategorie </a>
    </div>
    {% if user.is_authenticated %}
    <div>
      <a href="/accounts/logout/"> Logout</a>
    </div>        
    <a href="/">All contacts</a>
  {% else %}
    <div>
      <a href="/accounts/login/"> Login </a>
    </div>
  {% endif %}
    <br>
    {% block content %}{% endblock %}
  </body>
</html>