{% extends 'base.html' %}

{% block content %}

{% if user.is_superuser %}
    <a href="/payment/create/"> Dodaj nowy sposób dostawy</a>
    <br>
    <br>
{% endif %}
<table border="3px">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            {% if user.is_superuser %}
                <th>
                    Akcje
                </th>            
            {% endif %}
        </tr>            
    </thead>
    <tbody>
        {% for payment in payment_list %}
            <tr>                
                {% if user.is_superuser %}
                    <td>
                        <a href="/payment/{{payment.id}}/">{{payment}}</a>
                    </td>
                    <td>
                        <a href="/payment/{{payment.id}}/update/">Edytuj </a>
                        <a href="/payment/{{payment.id}}/delete/">Usuń </a>
                    </td>
                {% else %}
                    <td>
                        {{payment}}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}