{% extends 'base.html' %}

{% block content %}

{% if user.is_superuser %}
    <a href="/delivery/create/"> Dodaj nowy sposób dostawy</a>
    <br>
    <br>
{% endif %}
<table border="3px">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            {% if user.is_superuser %}
                <th>
                    Akcje
                </th>            
            {% endif %}
            <th>
                Cena
            </th>
        </tr>            
    </thead>
    <tbody>
        {% for delivery in delivery_list %}
            <tr>                
                {% if user.is_superuser %}
                    <td>
                        <a href="/delivery/{{delivery.id}}/">{{delivery}}</a>
                    </td>
                    <td>
                        <a href="/delivery/{{delivery.id}}/update/">Edytuj </a>
                        <a href="/delivery/{{delivery.id}}/delete/">Usuń </a>
                    </td>
                {% else %}
                    <td>
                        {{delivery.name}}
                    </td>
                {% endif %}
                <td>
                    {{delivery.price|floatformat:2}}zł
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}